@use 'functions' as *;

// @mixin fluid-text($max: 48, $min: 16) {
//   font-size: fluid($max, $min);
// }

@mixin hide {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

@mixin flex-center($gap: 0) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
}

@mixin abs-cover {
  position: absolute;
  inset: 0;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin abs-x {
  position: absolute;
  left: 50%;
  translate: -50%;
}

@mixin abs-y {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin focus-visible {
  outline: 2px dashed var(--color-white);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

@mixin disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


@mixin text-body-intro ($max: 30, $min: 12) {
  font-size: fluid($max, $min);
  font-weight: 600;
}

@mixin text-subtitle ($max: 18, $min: 12) {
  font-size: fluid($max, $min);
  font-weight: 400;
}

@mixin text-main ($max: 16, $min: 12) {
  font-size: fluid($max, $min);
  font-weight: 400;
}

@mixin text-main-small ($max: 13, $min: 12) {
  font-size: fluid($max, $min);
  font-weight: 400;
}

@mixin text-label ($max: 14, $min: 12) {
  font-size: fluid($max, $min);
  font-weight: 700;
  line-height: 130%;
}

@mixin text-helper ($max: 12, $min: 12) {
  font-size: fluid($max, $min);
  font-weight: 400;
  line-height: 140%;
}


@mixin text-button ($max: 16, $min: 12) {
  font-size: fluid($max, $min);
  font-weight: 600;
  line-height: 120%;
}

@mixin text-button ($max: 16, $min: 12) {
  font-size: fluid($max, $min);
  font-weight: 600;
  line-height: 120%;
}

@mixin text-caption-tooltip ($max: 12, $min: 12) {
  font-size: fluid($max, $min);
  font-weight: 400;
  line-height: 130%;
}

@mixin text-tag ($max: 12, $min: 12) {
  font-size: fluid($max, $min);
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

