.button {
  // пишу пока только но оновании двух кнопок Войти и Загистрироваться
  flex: 1 1 320px; // 320px, но можно меньше/больше
  max-width: 320px;
  min-width: 0; // разрешаем сжиматься при нехватке места
  width: 100%;

  padding-block: fluid(16, 6);
  // padding-inline: fluid(56, 24);
  text-align: center;
  border-radius: var(--border-radius-xxl);
  cursor: pointer;

  &--login {
    background-color: var(--color-background-button-primary);
    border: none;
    color: var(--color-text-button-primary);

    @include hover {
      background-color: var(--color-background-button-primary-hover);
    }

    &:active {
      background-color: var(--color-background-button-primary-pressed);
    }

    &:disabled {
      background-color: var(--color-background-button-primary-disabled);
      cursor: not-allowed;
    }
  }

  &--register {
    background-color: var(--color-text-button-primary);
    color: var(--color-background-button-primary);
    border: solid 1px var(--color-background-button-primary);

    @include hover {
      border-color: var(--color-background-button-primary-hover);
      color: var(--color-background-button-primary-hover);
    }
    &:active {
      background-color: var(--color-background-button-primary-pressed);
    }

    &:disabled {
      background-color: var(--color-background-button-primary-disabled);
    }
  }

  &--addOperations {
    background-color: var(--color-bg-accent-button);
    flex: 1 1 220px; // 320px, но можно меньше/больше
    max-width: 220px;
    min-width: 0; // разрешаем сжиматься при нехватке места
    width: 100%;

    padding: 8px 32px;
    border: none;

    @include text-button;

    @include hover {
      background-color: var(--color-bg-accent-button-hover);
    }
  }
}
