.button {
  // пишу пока только но оновании двух кнопок Войти и Загистрироваться
  flex: 1 1 280px; // 320px, но можно меньше/больше
  max-width: 280px;
  min-width: 0; // разрешаем сжиматься при нехватке места
  width: 100%;

  padding-block: fluid(8, 6);
  // padding-inline: fluid(56, 24);
  text-align: center;
  border-radius: var(--border-radius-xl);
  cursor: pointer;

  &--login {
    background-color: var(--color-background-button-primary);
    border: none;
    color: var(--color-button-primary);

    @include hover {
      background-color: var(--color-background-button-primary-hover);
    }

    &:active {
      background-color: var(--color-background-button-primary-pressed);
    }

    &:disabled {
      background-color: var(--color-background-button-primary-disabled);
      cursor: not-allowed;
    }
  }

  &--register {
    background-color: var(--color-button-primary);
    color: var(--color-background-button-primary);
    border: solid 1px var(--color-background-button-primary);

    @include hover {
      border-color: var(--color-background-button-primary-hover);
      color: var(--color-background-button-primary-hover);
    }
    &:active {
      background-color: var(--color-background-button-primary-pressed);
    }

    &:disabled {
      background-color: var(--color-background-button-primary-disabled);
    }
  }
}
