.button {
  // пишу пока только но оновании двух кнопок Войти и Загистрироваться
  flex: 1 1 320px; // 320px, но можно меньше/больше
  max-width: 320px;
  min-width: 0; // разрешаем сжиматься при нехватке места
  width: 100%;

  padding-block: fluid(16, 16);
  padding-inline: fluid(24, 24);
  text-align: center;
  border-radius: var(--border-radius-l);
  cursor: pointer;

  &--login {
    background-color: var(--color-background-button-primary);
    border: none;
    color: var(--color-background-button-secondary);

    @include hover {
      background-color: var(--color-background-button-primary-hover);
    }

    &:active {
      background-color: var(--color-background-button-primary-pressed);
    }

    &:disabled {
      // background-color: var(--color-background-button-primary-disabled);
      background-color: #000;
    }
  }

  &--register {
    background-color: var(--color-background-button-secondary);
    color: var(--color-background-button-primary);
    border: solid 1px var(--color-background-button-primary);

    @include hover {
      border-color: var(--color-background-button-primary-hover);
      color: var(--color-background-button-primary-hover);
    }
    &:active {
      background-color: var(--color-background-button-primary-pressed);
    }

    &:disabled {
      background-color: var(--color-background-button-primary-disabled);
    }
  }
}
