.greeting {
  background: url("../../assets/images/greeting-bg.webp") center / cover
    no-repeat;
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--color-background-input-main);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
  }

  &__text {
    margin-bottom: 24px;
    color: var(--color-text-button-primary);
  }
}
