.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.button {
  // пишу пока только но оновании двух кнопок Войти и Загистрироваться
  // width: 320px;
  flex: 1 1 320px; // "хочу быть 320px, но можно меньше/больше"
  max-width: 320px;
  min-width: 0; // разрешаем сжиматься при нехватке места
  width: 100%;

  padding-block: fluid(16, 16);
  padding-inline: fluid(24, 24);
  text-align: center;
  border-radius: var(--border-radius-l);
  cursor: pointer;
}
