:root {
 --color-text-primary: #0e0d1a;
--color-text-secondary: #2d2c2c;

--color-background-button-primary: #918bff;
--color-background-button-secondary: #ffffff;

--color-background-button-primary-hover: #6360a4;
--color-background-button-primary-pressed: #232238;
--color-background-button-primary-disabled: #a8a8ad;





  // --color-primary: #2ab673;
  // --color-primary-light: #dff6eb;
  // --color-primary-dark: #1e8c58;

  // --color-accent: #3772ff;

  // --color-text-primary: #00000080; // черный с прозрачным 50%
  // --color-text-accent: #000000;
  // --color-text-muted: #6b7280;

  // --color-background-main: #f7f8fa;
  // --color-background-secondary: #ffffff;
  // --color-background-input: #CACACA;

  // --color-border: #e5e7eb;
  // --color-outline-input: #a6a6a6;
  // --color-outline-input-error: #737373;

  // --color-link: #1f2937;
  // --color-button: #393838;

  // --border: var(--border-width-s) solid var(--color-black-15);

  // --border-width-l: 4px;
  // --border-width-m: 3px;
  // --border-width-s: 1px;

  // --border-radius-xl: 20px;
  --border-radius-l: 12px;
  // --border-radius-l: 10px;
  // --border-radius-s: 8px;
  // --border-radius-xs: 6px;
  // --border-radius-xxs: 5px;
  // --border-radius-xxxs: 4px;

  --font-family-base: "Open Sans", sans-serif;
  --font-family-headline: "Nunito", sans-serif;

  --container-width: #{fluid($container-desktop-width, $container-mobile-width)};
  --container-padding-x: 16px;

  --section-padding-y: #{fluid(75, 40)};

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}
