:root {
  --color-text-primary: #0e0d1a;
  --color-text-secondary: #2d2c2c;
  --color-text-main: #333333; // не очень удачный нейминг, потом подумать !!!!!
  --color-helper-text: #474747;


  // Кнопки
  --color-background-button-primary: #5a77f7;
  --color-background-button-secondary: #ffffff;
  --color-background-button-primary-hover: #6360a4;
  --color-background-button-primary-pressed: #232238;
  --color-background-button-primary-disabled: #a8a8ad;

  // Инпуты цвета фона и рамок

  --color-background-input-main: #cdcedf;
  // --color-background-input-second: #dedae1;

  --color-placeholder: #9FA1B3;

  --color-border-input-main: #b9bbda;
  --color-border-input-second: #192ddb;
  --color-border-input-filled: #52a479;
  --color-border-input-error: #c73b3b;
  --color-border-input-disabled-success: #c0c8c4;
  --color-border-input-disabled-error: #d7b9b9;
  --color-border-input-disabled-normal: #cbc7ce;



  // --border: var(--border-width-s) solid var(--color-black-15);

  --color-outline-input-normal: #b9bbda;

  // --color-primary: #2ab673;
  // --color-primary-light: #dff6eb;
  // --color-primary-dark: #1e8c58;

  // --color-accent: #3772ff;

  // --color-text-primary: #00000080; // черный с прозрачным 50%
  // --color-text-accent: #000000;
  // --color-text-muted: #6b7280;

  // --color-background-main: #f7f8fa;
  // --color-background-secondary: #ffffff;
  // --color-background-input: #CACACA;

  // --color-border: #e5e7eb;
  // --color-outline-input: #a6a6a6;
  // --color-outline-input-error: #737373;

  // --color-link: #1f2937;
  // --color-button: #393838;

  // --border: var(--border-width-s) solid var(--color-black-15);

  // --border-width-l: 4px;
  // --border-width-m: 3px;
  // --border-width-s: 1px;

  // --border-radius-xl: 20px;
  --border-radius-l: 12px;
  // --border-radius-l: 10px;
  // --border-radius-s: 8px;
  // --border-radius-xs: 6px;
  // --border-radius-xxs: 5px;
  --border-radius-xxxs: 4px;

  --font-family-base: "Open Sans", sans-serif;
  --font-family-headline: "Nunito", sans-serif;

  --container-width: #{fluid($container-desktop-width, $container-mobile-width)};
  --container-padding-x: 104px;

  // --section-padding-y: #{fluid(75, 40)};

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}
