:root {
  // текстовые
  --color-text-button-primary: #FFFFFF;
  // --color-text-primary: #0e0d1a;
  --color-text-secondary: #808080;

  // Кнопки
  --color-background-button-primary: #4949EB;
  --color-background-button-primary-hover: #1414BA;
  --color-background-button-secondary: #ffffff;
  --color-background-button-secondary-hover: #4949EB;
  --color-background-button-primary-pressed:  #1414BA;
  --color-background-button-primary-disabled: #a8a8ad;
  --color-bg-accent-button: #DDF344;
  --color-bg-accent-button-hover:#ADC40D;

  // Инпуты цвета фона и рамок

  --color-background-input-main: #D9D9D9;
  --color-border-input-second: #4949EB;
  --color-border-input-filled: #52a479;
  --color-border-input-error: #EB4949;
  --color-border-input-disabled-success: #c0c8c4;
  --color-border-input-disabled-error: #d7b9b9;
  --color-border-input-disabled-normal: #cbc7ce;

  // Фоновые

  --color-body-secondary: #F5F5F5;

  // 

  --color-navitem-active: #EAEAFD;


  // --border: var(--border-width-s) solid var(--color-black-15);

  // --color-outline-input-normal: #D9D9D9;

  // --color-primary: #2ab673;
  // --color-primary-light: #dff6eb;
  // --color-primary-dark: #1e8c58;

  // --color-accent: #3772ff;

  // --color-text-primary: #00000080; // черный с прозрачным 50%
  // --color-text-accent: #000000;
  // --color-text-muted: #6b7280;

  // --color-background-main: #f7f8fa;
  // --color-background-secondary: #ffffff;
  // --color-background-input: #CACACA;

  // --color-border: #e5e7eb;
  // --color-outline-input: #a6a6a6;
  // --color-outline-input-error: #737373;

  // --color-link: #1f2937;
  // --color-button: #393838;

  // --border: var(--border-width-s) solid var(--color-black-15);

  // --border-width-l: 4px;
  // --border-width-m: 3px;
  // --border-width-s: 1px;

  --border-radius-xxl: 100px;
  --border-radius-xl: 16px;
  --border-radius-l: 12px;
   --border-radius-m: 8px;
  --border-radius-xxxs: 4px;

  --font-family-base: "Open Sans", sans-serif;
  --font-family-headline: "Nunito", sans-serif;

  --container-width: #{fluid($container-desktop-width, $container-mobile-width)};
  --container-padding-x: 104px;

  // --section-padding-y: #{fluid(75, 40)};

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}
