.welcome {
  background: url("/src/assets/images/welcome-bg.webp") no-repeat center /
    cover;
  min-height: 100vh;

  &__inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 120px;
  }

  &__message {
    margin-top: 120px;
    @include text-body-intro(20, 10);

    margin-bottom: 24px;
  }

  &__identify {
    @include flex-center(fluid(16, 15));

    margin-bottom: fluid(32);

    @include text-main(18, 16);

    h1 {
      color: var(--color-background-button-primary);
    }
  }

  &__decription {
    color: var(--color-text-secondary);

    @include text-main(16, 16);
  }

  &__auth {
    max-width: 656px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: fluid(60);

    @include text-button;
  }


}
