.welcome {
  &__inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 53px;
  }

  &__identify {
    @include flex-center(fluid(16, 15));

    @include text-secondary;

    h1 {
      color: var(--color-background-button-primary);
    }
  }

  &__auth {
    max-width: 656px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: fluid(30);

    @include text-button;
  }
}
