.auth {
  @include flex-center(129px, row);

  background: url("/src/assets/images/login-bg.webp") no-repeat center / cover;
  min-height: 100vh;


  &__form {
    width: fluid(394, 100);
    position: relative;
    margin: 0 auto;
  }

  &__form-inner--disabled {
    input,
    button {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &__icon {
    cursor: pointer;
    align-self: flex-start;
    margin-bottom: 8px;
  }
  h2 {
    @include text-body-intro();

    letter-spacing: 0.64px;
  }

  &__image {
    max-height: 100vh;
    border: 1px solid red;
  }

  .button--login {
    margin-top: 24px;
    margin-bottom: 48px;
    max-width: 100%;
  }

  &__notice {
    @include text-body-intro(16);

    text-align: center;
    margin-top: 33px;
  }
}
